body{line-height: 1;}

.QuizHeadingText{}
.QuestionWrap{margin-left: 4%;}
.QuestionWrap h2{display: inline-block;}
.QuestionText{ margin-right: 2%;}
.QuizHeadingTextCount{display: inline-block;}
.NextQuestion{margin-left: 1%; margin-bottom: 1%;}
.QuestionTask{color: #000;}

.AnsMolecule{display: inline-block;}

.PeriodicTableWrapper{ width: 100%; /*border: 1px solid #F00;*/}
.ElementBox  {position: relative; font-size: 11px; width: 5%; margin: 0.27777%; padding: 3px; display: inline-block; line-height: 1.4; overflow: hidden;}  /* NOTE: 90/18 = 5%, og 5/18 = 0.27777% */
.DummyElement{position: relative; width: 5%; margin: 0.27777%; padding: 3px; display: inline-block; /*border: 1px solid #F00;*/ }
.AtomNum     {position: relative; }
.AtomName    {position: relative; }
.AtomSymbol  {position: relative; font-size: 160%; }
.AtomWeight  {position: relative; display: none;}
 
.lbox{width: 6%; margin-bottom: 2.8%;} /* width: 12%; margin-bottom: 3%; */
.xlbox{/*width: 12%;*/ width: 4%; margin-right: 4%; }
.sbox{/*width: 33%;*/ width: 100%;}

.red{border: 1px solid #F00;}

.DropZone{padding-left: 4%; margin-bottom: 0%;} /* padding-left: 25%; margin-bottom: 3% */ 
.DropWrap{}
.DropCoeff{display: inline-block;}
.DropElement{display: inline-block;}
.DropChargeAndIndex{display: inline-block;}
.DropCharge{}
.DropIndex{}
.DropSpacer{width: 70%;}
.DroppedDraggable{background-color: transparent; border-color: transparent;}

.DropHighlight{background-color: #0F0;}

.NumbersWrapper{display: inline-block; width: 40%; margin-bottom: 0%; position: absolute; top: 0px;} /* position: absolute løser tilsyneladende problemet med NumbersWrapper i FireFox, Chrome og Safari */
.IndexWrapper{} /* border: 1px solid #F00; */
.ChargeWrapper{} /* border: 1px solid #F00; */
.CoeffWrapper{/*height: 50px; border: 1px solid #F00;*/}

.ScoreWrapper{display: inline-block; padding: 3px; border: 1px solid #717272;}
.ScoreWrapper h3{margin: 3px 0px;}

.NumberHeading{font-size: 18px; margin-top: 5px;}
.DragNum{padding: 0px; margin: 0.5%; display: inline-block; /*border: 1px solid #00F;*/ font-size: 22px;}
.IndexNum{}
.ChargeNum{}
.CoeffNum{}

.left{float: left;}
.right{float: right;}
.clear{clear: both;}

.droppable{border: 1px solid #717272;}